.title_L {
  padding-top: 7%;
}
.title_L h3 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}
.title_L h6{
  color: #fff;
}

.login {
  padding-top: 2%;
  
  color: #fff;
}
.btn-login {
  border-radius: 50px;
  color: #fff;
  border: none;
  background: linear-gradient(120deg, rgb(58, 227, 195) 30%, rgb(86, 63, 240));
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s;
}
.btn-login:hover {
  background: linear-gradient(-45deg, rgb(86, 63, 240), rgb(86, 63, 240));
}

.form-control{
  border-radius: 50px;
  border: none;
  background: rgb(81, 65, 234);
  color: #fff;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgb(81, 65, 234);
  color: #fff;
}
.custom-checkbox {
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: rgb(81, 65, 234);;
  border-radius: 4px;
  outline: none;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: rgb(81, 65, 234);; /* Fondo rojo cuando está marcado */
}

.custom-checkbox input[type="checkbox"]:focus {
  box-shadow: none; /* Elimina la sombra cuando está enfocado */
}
form {
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 20%;
  /*background: #ff0000;*/
}
